.clients-list {
    display: flex;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: border-color var(--animate-time) var(--animate-function);
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-icon {
    fill: var(--icon-color);
    transition: fill var(--animate-time) var(--animate-function);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon,
.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}